body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MENU LATERAL */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #333;
  padding-top: 20px;
  color: white;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 0;
}

.sidebar ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background: #444;
}

/* CONTEÚDO */
.conteudo {
  margin-left: 400px; /* Espaço para o menu lateral */
  margin-right: 100px;
  padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f4f4f4;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
}

button {
    padding: 10px;
    width: 100%;
    background: #153399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0053a3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: right;
}

th {
    background: #eee;
}